
@{
    ViewBag.Title = "AddManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using TrainingTracker.HelpingClasses
<br />
    <div class="content">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <center><h3 class="panel-title"><b>Create Manager</b></h3></center>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                        <li><a data-action="reload"></a></li>
                    </ul>
                </div>
            </div>

            <div class="panel-body">
                <form class="form-horizontal form-validate-jquery" action="@Url.Action("AddEmployeeAction","Utilities")" method="post">
                    <fieldset class="content-group">
                        <legend class="text-bold"><span class="text-danger">*</span> Fields are Mandatory to Fill</legend>





                        <div class="form-group">
                            <label class="control-label col-lg-3 text-bold">First Name <span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <input type="text" name="FirstName" class="form-control" required="required" maxlength="150" placeholder="Please enter First Name">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-lg-3 text-bold">Last Name <span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <input type="text" name="LastName" class="form-control" required="required" maxlength="150" placeholder="Please enter Last Name">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-lg-3 text-bold">Email <span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <input type="email" name="email" class="form-control" id="email" required="required" maxlength="150" placeholder="Enter a valid email address">
                            </div>
                        </div>
                        <!-- /email field -->
                        <!-- Repeat email -->
                        <!-- Password field -->
                        <div class="form-group">
                            <label class="control-label col-lg-3 text-bold">Password <span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <input type="password" name="password" id="password" class="form-control" required="required" maxlength="150" placeholder="Minimum 5 characters allowed">
                            </div>
                        </div>
                        <!-- /password field -->
                        <!-- Repeat password -->
                        <div class="form-group">
                            <label class="control-label col-lg-3 text-bold">Repeat Password <span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <input type="password" name="repeat_password" onkeyup="validatepassword()" id="confirm_password" maxlength="150" class="form-control" required="required" placeholder="Try different password">
                                <div class="col-sm-12 text-left">
                                    <a class="text-danger" hidden id="displayerror">Passwords dont Match</a>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-3 text-bold">Phone Number <span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <input type="text" name="phoneNumber" class="form-control" required="required" maxlength="150" placeholder="Enter Personal Phone Number">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-3 text-bold">Home Number <span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <input type="text" name="HomeNumber" class="form-control" required="required" maxlength="150" placeholder="Enter Home Number">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label bold">Role</label>
                            <div class="col-lg-9">
                                <input type="hidden" value="3" name="AccessLevel">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-lg-3 control-label bold">Department</label>
                            <div class="col-lg-9">
                                <select class="form-control" name="DepartmentId">
                                    <option disabled selected>Select Department</option>
                                    @{

                                        foreach (var item in ViewBag.Department)
                                        {

                                            <option value="@item.Id"> @item.Name</option>

                                        }
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-3 text-bold">Notes<span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <textarea rows="5" cols="5" name="notes" class="form-control" required="required" maxlength="500" placeholder="Enter Notes"></textarea>
                            </div>
                        </div>



                        <!-- /repeat password -->
                        <!-- Email field -->
                        <!-- /repeat email -->
                        <!-- Minimum characters -->


                    </fieldset>



                    <div class="text-right">

                        <button type="submit" id="submit" class="btn btn-sm  bg-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script type="text/javascript">
    function validatepassword() {
        if (document.getElementById("password").value != document.getElementById("confirm_password").value) {
            document.getElementById("submit").disabled = true;

        }
        else {
            document.getElementById("submit").disabled = false;


        }
    }

</script>