<appSettings>
  <add key="ida:AppID" value="0915cdeb-cc28-4316-856d-654554c394e6" />
  <add key="ida:AppPassword" value="h2cyBMbGtH[aOtTYXqbqsvpuTB::/854" />
  <add key="ida:RedirectUri" value="http://localhost:60126/" />
  <add key="ida:AppScopes" value="User.Read Mail.Read Calendars.Read Contacts.Read" />
</appSettings>