@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zuptu - Task Management App</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/colors.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="~/Content/Images/ig.png" type="image/x-icon" sizes="16x16">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Content/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/Content/assets/js/core/app.js"></script>

    <script type="text/javascript" src="~/Content/assets/js/plugins/ui/ripple.min.js"></script>
    <!-- /theme JS files -->

</head>

<body class="login-container">

    <!-- Main navbar -->
    <div class="navbar navbar-inverse bg-indigo">
        <div class="navbar-header">



        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile">



        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Content area -->
                <div class="content">

                    <!-- Error title -->
                    <div class="text-center content-group">
                        <h1 class="error-title">502</h1>
                        <h4>Sorry, we're down for essential maintenance</h4>
                    </div>
                    <!-- /error title -->
                    <!-- Error content -->
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
                            <form action="#" class="main-search panel panel-body">
                                @*<div class="form-group has-feedback">
                                        <input type="text" class="form-control input-lg" placeholder="Search...">
                                        <div class="form-control-feedback">
                                            <i class="icon-search4 text-size-large text-muted"></i>
                                        </div>
                                    </div>*@

                                <div class="text-center">
                                    <a href="@Url.Action("Index","Auth")" class="btn bg-blue-400"><i class="icon-circle-left2 position-left"></i> Back to dashboard</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /error wrapper -->
                    <!-- Footer -->
                    <div class="footer text-muted text-center">
                        &copy; 2019. <a href="#">Developed</a> by <a href="http://nodlays.com" target="_blank">Nodlays</a>
                    </div>
                    <!-- /footer -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->

</body>
</html>

