
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zuptu Task Management App</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/colors.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="~/Content/Images/ig.png" type="image/x-icon" sizes="16x16">
    <!-- /global stylesheets -->
    <!-- Core JS files -->

    <script type="text/javascript" src="~/Content/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/core/libraries/bootstrap.min.js"></script>

    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/Content/assets/js/plugins/forms/validation/validate.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/forms/styling/uniform.min.js"></script>


    <script type="text/javascript" src="~/Content/assets/js/pages/login_validation.js"></script>

    <script type="text/javascript" src="~/Content/assets/js/plugins/ui/ripple.min.js"></script>
    <!-- /theme JS files -->
    <style>

        #joinbtn {
            background-color: #008940 !important;
            border-radius: 22px !important;
            color: white !important;
            height: 40px;
            width: 130px;
            padding-top: 7px;
            font-size: medium;
        }

            #joinbtn:hover {
                background-color: #ffffff !important;
                color: #008940 !important;
                border-radius: 22px !important;
            }

        .clr {
            color: #0150A1;
        }
        h3{
            font-weight:600;
        }
         h4{
            font-weight:500;
        }
        hr{
            border-top: 1px solid #000 !important;
        }
        p{
            font-size:16px !important;
        }
        ul li{
            font-size:14px;
        }
        .border{
            
        }
        table{
            border:2px solid;
        }
        table tr{
            border:2px solid;
        }
        table tr td{
            border:2px solid;
            //font-size:22px !important;
            
        }
          table tr td p{
           margin-left:15px !important;
        }
    </style>
</head>

<body class="login-container">
    <!-- Main navbar -->
    <div class="navbar navbar-inverse bg-primary">

        <div class="navbar-collapse collapse" id="navbar-mobile">

        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page container -->
    <div style="background-color:white" class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Content area -->
                <div class="content">
                    <!-- Simple login form -->
                    <div class="col-lg-12 col-md-12">
                        <div class="col-lg-2 col-md-2"></div>
                        <div style="text-align:justify; font-family:Georgia" class="col-lg-8 col-md-8">

                            <center><h1 style="font-size:36px"><b>PRIVACY POLICY</b></h1></center>
                            <h2><a name="_Toc31111079"></a><strong>1.&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>Summary Statement</strong></h2>
                            <hr />
                            <p>This Policy sets forth Zuptu&rsquo;s requirements for privacy practices applicable to Zuptu, consistent with the expectations and plans of Zuptu, and in consideration of IsoCapt LLC' requirements. Zuptu is committed to respecting and protecting the privacy and security of Personal Information of individuals with whom it interacts, ensuring compliance with applicable law and Zuptu&rsquo;s policies, standards, frameworks, and guidelines.</p>

                            <h1><a name="_Toc31111080"></a><a name="_Toc497905913"></a><a name="_Toc434744144"></a><strong>2.&nbsp;&nbsp;&nbsp; Objectives</strong></h1>

                            <hr />
                            <p>The objectives of this Policy are to:</p>
                            <ul>
                                <li>Outline Zuptu&rsquo;s practices for collecting, using, and disclosing the Personal Information of individuals who interact with Zuptu;</li>
                                <li>Minimize the exposure and risk to Zuptu of potential reputational, regulatory, civil or other damages resulting from a breach of privacy legislation; and</li>
                                <li>Outline the appointment and role of Zuptu&rsquo;s Privacy Officer and the situations in which he/she should be contacted.</li>
                            </ul>

                            <h1><a name="_Toc31111081"></a><a name="_Toc497905914"></a><a name="_Toc434744145"></a><strong>3.&nbsp;&nbsp;&nbsp; </strong><strong>Scope</strong></h1>
                            <hr />
                            <p>This Policy applies to Employees, Contractors, and Consultants.</p>
                            <p>This Policy governs the use of the Personal Information of any individuals in any sort of engagement with Zuptu, including suppliers, directors, officers, permanent and temporary Employees, Contractors, or Consultants, volunteers, landowners, customers, and any other individuals from whom Zuptu may obtain Personal Information. All Managers and Supervisors are expected to become familiar with, support, and oversee privacy compliance.</p>

                            <h1><a name="_Toc31111082"></a><a name="_Toc497905915"></a><b>4.&nbsp;&nbsp;&nbsp; Definitions</b></h1>

                            <hr />
                            <p><a name="_Toc433888483"></a><a name="_Toc434744124"></a>Capitalized terms used herein have their meanings set forth in the <u>Master Glossary</u>.</p>
                            <table width="100%">
                                <tbody>
                                    <tr>
                                        <td width="108">
                                            <p><strong>Management</strong></p>
                                        </td>
                                        <td width="543">
                                            <p>Employees in Zuptu who are in a supervisory capacity, in accordance with the <u>Limits of Authority Standard</u>.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="108">
                                            <p><strong>Personal Information</strong></p>
                                        </td>
                                        <td width="543">
                                            <p style="margin-right:20px">Any information about an identifiable individual or that permits an individual to be identified, such as name, date of birth, marital status, dependents, beneficiaries, home or mailing address, personal telephone numbers, personal email addresses, emergency contact information, social insurance number, bank account numbers, other ID numbers, income, employment or education history, credit records, loan records, medical records, and financial history. It does not include an individual&rsquo;s business contact information (i.e., name, title, business telephone number, address, e-mail address or fax number) when that information is used to contact an individual in relation to his/her business responsibilities.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="108">
                                            <p><strong>Privacy Officer</strong></p>
                                        </td>
                                        <td width="543">
                                            <p>A role appointed to serve as the primary contact for privacy issues related to Zuptu&rsquo;s operations.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <h1><a name="_Toc31111083"></a><a name="_Toc497905916"></a><a name="_Toc434744146"></a><strong>5.&nbsp;&nbsp;&nbsp; </strong><strong>Requirements</strong></h1>
                            <hr />
                            <h3><a name="_Toc31111084"></a><a name="_Toc500840540"></a><a name="_Toc436215909"></a>5.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Purposes for Collection, Use, and Disclosure</h3>
                            <p>Zuptu will obtain consent from the individual prior to the collection, use, and/or disclosure of Personal Information, and will identify the purpose of such collection unless otherwise permitted by law. Personal Information collection will be restricted to the information required for business purposes and will be collected, to the extent possible, directly from the individual concerned. Zuptu does not sell, trade, barter, transfer, or exchange for consideration any Personal Information it has obtained.</p>
                            <p>Personal Information may be subject to transfer to another entity in the event of a change of ownership of all or part of Zuptu. This will only occur if the parties in the change of ownership transaction have entered into an agreement under which the collection, use, and disclosure of the information is restricted to purposes that are related to the business transaction and will be used by the parties to carry out and complete the business transaction.</p>
                            <p>Zuptu may disclose Personal Information to organizations that perform services on behalf of Zuptu. Personal Information will only be disclosed to organizations that provide services to Zuptu and that agree to use the Personal Information solely for the purposes of providing services to Zuptu and to otherwise adhere to this Policy.</p>

                            <h3><a name="_Toc31111085"></a><a name="_Toc500840541"></a><a name="_Toc436215910"></a>5.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Deemed Consent</h3>
                            <p>When an individual voluntarily provides Personal Information for a particular purpose, and it is reasonable that he/she would do so, Zuptu may take the view that the individual has provided consent. If Personal Information is voluntarily provided in accordance with applicable law, Zuptu is entitled to act on that individual&rsquo;s consent and consider that the individual has consented to the collection, use, or disclosure of Personal Information, as necessary, to carry out the purposes for which the information was provided, in accordance with this Policy.</p>

                            <h3><a name="_Toc31111086"></a><a name="_Toc500840542"></a><a name="_Toc436215911"></a>5.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Refusal of Consent</h3>
                            <p>If an individual does not wish to consent to the collection, use, or disclosure of Personal Information, they should not provide any Personal Information to Zuptu. However, as certain agreements can only be completed and performed if Personal Information is provided, a failure to provide Personal Information may preclude Zuptu from concluding such contracts.&nbsp;</p>

                            <h3><a name="_Toc31111087"></a><a name="_Toc500840543"></a><a name="_Toc436215912"></a>5.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Collection, Use, and Disclosure without Consent</h3>
                            <p>Pursuant to applicable law, Zuptu may collect, use, and disclose Personal Information without consent in the following scenarios.</p>

                            <h4 style="font-style:italic">&nbsp;&nbsp;&nbsp;&nbsp;5.4.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; For Employees Following Notification</h4>
                            <p>The law allows Zuptu to collect, use, and disclose Personal Information about an Employee without the consent of the Employee as long as the individual is an Employee of Zuptu or if the collection is for the purpose of recruiting a potential Employee, and if:</p>
                            <ul>
                                <li>The collection, use, or disclosure is reasonable for the purposes for which it is being collected, used, or disclosed;</li>
                                <li>The information is related to a potential or actual employment relationship with Zuptu; and</li>
                                <li>Zuptu has, with current Employees, provided notification of the collection, use, or disclosure of the information and the purposes for doing so.</li>
                            </ul>

                            <h4 style="font-style:italic">&nbsp;&nbsp;&nbsp;&nbsp;5.4.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Circumstances without Consent</h4>
                            <p>There are circumstances in which the collection, use, or disclosure of Personal Information without consent may be justified, permitted, or obligated. These include:</p>
                            <ul>
                                <li>Where authorized or required by law or by order of a court, administrative agency, or other governmental entity;</li>
                                <li>Where a reasonable person would consider that the collection, use, or disclosure of the information is clearly in the interests of the individual and consent of the individual cannot be obtained in a timely way, or the individual would not reasonably be expected to withhold consent;</li>
                                <li>Where the collection, use, or disclosure of the information is reasonable for the purposes of an investigation or proceeding;</li>
                                <li>Where the information is publicly available;</li>
                                <li>Where the collection, use, or disclosure of the information is necessary in order to collect a debt owed to Zuptu, or for Zuptu to repay to an individual money owed by Zuptu;</li>
                                <li>Where the disclosure of the information is necessary to determine the individual's suitability to receive an honour, award, or similar benefit, including an honorary degree, scholarship, or bursary that the individual applied for;</li>
                                <li>Where the disclosure of the information is for the purposes of protecting against fraud, or for the prevention, detection, or suppression of fraud; and</li>
                                <li>Where it is necessary to permit Zuptu to pursue available remedies or limit any damages that it may sustain.</li>
                            </ul>
                            <p>The obtaining of access of Personal Information is done in accordance with the Business Record Access Standard.&nbsp; Where obliged or permitted to disclose information without consent, Zuptu will not disclose more information than is required.</p>

                            <h3><a name="_Toc31111088"></a><a name="_Toc500840544"></a><a name="_Toc436215913"></a>5.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Personal Information of Employees</h3>
                            <p>Zuptu collects Personal Information about its Employees in an employment file. The information collected and purposes for it can be found in the Employee Personal Information Guideline. Most of the information is either required by law, or used to properly identify Employees. Zuptu relies on Employees to update their own Personal Information.</p>

                            <h3><a name="_Toc31111089"></a><a name="_Toc500840545"></a><a name="_Toc436215914"></a>5.6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Third Parties</h3>
                            <p>All persons and organizations collecting information on Zuptu&rsquo;s behalf, including third parties, are expected to adhere to privacy principles, applicable law, and this Policy. On occasion, Zuptu may use third-party service providers in and outside Canada and will ensure that such third parties are aware of this Policy and applicable law with respect to Personal Information. Zuptu will ensure that Personal Information will be transferred securely and the collection, use, and disclosure, if applicable, will be restricted by the stated purpose. If Personal Information is transferred to a jurisdiction outside of Canada, the law of the foreign jurisdiction will likely apply. In such instances, the Privacy Officer will have more detailed information in respect to these arrangements.</p>

                            <h3><a name="_Toc31111090"></a><a name="_Toc500840546"></a><a name="_Toc436215915"></a>5.7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Computer and Email Use</h3>
                            <p>Zuptu owns the computer systems that Employees, Contractors, and Consultants use in the course of business. Zuptu has the right and ability to monitor and review use of Zuptu&rsquo;s system by all individuals. Please refer to the Information Security Policy for additional information.</p>

                            <h3><a name="_Toc31111091"></a><a name="_Toc500840547"></a><a name="_Toc436215916"></a>5.8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Security of Personal Information</h3>
                            <p>Zuptu strives to maintain adequate physical, procedural, and technical security with respect to its offices and information storage facilities, in order to prevent any loss, misuse, unauthorized access, disclosure, or modification of Personal Information.</p>
                            <p>Access to Personal Information is restricted to Employees, Contractors, and Consultants that require it to perform special services and fulfil obligations.&nbsp;</p>

                            <h4 style="font-style:italic">&nbsp;&nbsp;&nbsp;&nbsp;5.8.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Employment Files</h4>
                            <p>Employment files are securely maintained in the Human Resources department of Zuptu. Zuptu only shares Personal Information with Employees, Contractors, and Consultants, who are involved in payroll, hiring, promotions, discipline, termination, or auditing those functions. Personal Information in physical form is kept in secure, locked offices and electronic information is maintained in secure files with limited access.</p>

                            <h4 style="font-style:italic">&nbsp;&nbsp;&nbsp;&nbsp;5.8.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Access to Personal Information</h4>
                            <p>The law permits individuals to submit written requests to Zuptu to provide them with:</p>
                            <ul>
                                <li>Access to their Personal Information that is under the custody or control of Zuptu;</li>
                                <li>Information about the purposes for which their Personal Information that is under the custody or control of Zuptu has been and is being used; and</li>
                                <li>The names of organizations or persons to whom, and the circumstances in which, Personal Information has been and is being disclosed by Zuptu.</li>
                            </ul>
                            <p>Details on how to request access to Personal Information can be found in the Employee Personal Information Guideline.</p>
                            <p>Please note that an individual's ability to access his/her Personal Information under Zuptu&rsquo;s control is not an absolute right. The law provides that Zuptu must not disclose Personal Information where:</p>
                            <ul>
                                <li>The disclosure could reasonably be expected to threaten the safety or physical or mental health of an individual other than the individual who made the request;</li>
                                <li>The disclosure would reveal Personal Information about another individual; or</li>
                                <li>The disclosure would reveal the identity of an individual, who has in confidence provided Zuptu with an opinion about another individual and the individual providing the opinion does not consent to the disclosure of his/her identity.</li>
                            </ul>

                            <p>The law also provides that Zuptu may choose not to disclose Personal Information where:</p>
                            <ul>
                                <li>The Personal Information is protected by any legal privilege;</li>
                                <li>The disclosure of the information would reveal confidential commercial information, and it is not unreasonable to withhold that information;</li>
                                <li>The Personal Information was collected by Zuptu for an investigation or legal proceeding; and</li>
                                <li>The disclosure of the Personal Information might result in similar information no longer being provided to Zuptu when it is reasonable that it would be provided.</li>
                            </ul>

                            <h3><a name="_Toc31111092"></a><a name="_Toc500840548"></a><a name="_Toc436215917"></a>5.9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Retention of Personal Information</h3>
                            <p>Zuptu maintains employment files for as long as an Employee is with Zuptu. Some of the information relating to payroll and compensation must be maintained for seven years after an Employee leaves, as these documents are required by law for audit and tax purposes. Information that is not necessary for audit and taxation purposes is generally destroyed after a period of three years following employment, but may be retained longer where reasonable to do so for business or legal purposes.</p>
                            <p>Should any consent, where required, to the use, disclosure, or retention of Personal Information be revoked, the law also allows Zuptu to continue to retain the information for as long as is reasonable for legal or business purposes. In the event that revocation of any required consent may have consequences to the individual concerned, Zuptu will advise the individual of the consequences of revoking their consent where it is reasonable to do so.</p>
                            <p>Please refer to the Information Management Policy for additional information.</p>

                            <h3><a name="_Toc31111093"></a><a name="_Toc500840549"></a><a name="_Toc436215918"></a>5.10&nbsp;&nbsp; Request for Correction of Personal Information</h3>
                            <p>The law permits individuals to submit written requests to Zuptu to correct errors or omissions in their Personal Information that is in Zuptu&rsquo;s custody or control. If an individual becomes aware that the information Zuptu has about himself/herself is incorrect, the individual should notify the Human Resources department or the Privacy Officer, who will review the information and take appropriate steps.&nbsp;</p>

                            <h3><a name="_Toc31111094"></a><a name="_Toc500840550"></a><a name="_Toc436215919"></a><a name="_Toc432079773"></a><a name="_Toc432079828"></a><a name="_Toc432079876"></a><a name="_Toc432079921"></a><a name="_Toc432080342"></a><a name="_Toc432608582"></a><a name="_Toc432079774"></a><a name="_Toc432079829"></a><a name="_Toc432079877"></a><a name="_Toc432079922"></a><a name="_Toc432080343"></a><a name="_Toc432608583"></a>5.11&nbsp;&nbsp;&nbsp;&nbsp; Privacy Officer</h3>
                            <p>The Privacy Officer serves as the primary contact for privacy issues related to Zuptu&rsquo;s operations. The Privacy Officer, and other individuals within Zuptu, may be delegated to act on direction from Management or take responsibility for the day-to-day collection and processing of Personal Information. When required, other individuals may be appointed by Management to act in the place of the Privacy Officer. Zuptu has appointed the Director of the Legal department as the Privacy Officer, who can be reached as set forth in Section 0. An individual may contact the Privacy Officer if he/she has any Personal Information inquiries.<a name="_Toc436215920"></a></p>

                            <h3><a name="_Toc31111095"></a><a name="_Toc500840551"></a>5.12&nbsp;&nbsp;&nbsp; Filing a Complaint</h3>
                            <p>An individual may make a written complaint to the Privacy Officer if he/she is dissatisfied with this Policy or Zuptu&rsquo;s privacy practices. Any complaint should provide sufficient, precise, and relevant information pertaining to, among others, individuals, dates, places, names, witnesses, numbers, actual or potential violations, and Zuptu so that a reasonable investigation can be conducted. An individual is not expected to prove the truth of the allegation; however, the Complainant needs to demonstrate that there are sufficient grounds for concern. A complaint may be submitted through one of the following means of communication:</p>
                            <p>(i)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In writing:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Zuptu</p>
                            <p>7315 Stafford Drive</p>
                            <p>Council Bluffs, IA 51503</p>
                            <p>Attention: Trevor Carritt</p>
                            <p>Privacy Officer <strong>(STRICTLY CONFIDENTIAL)</strong></p>

                            <p>(ii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; By electronic mail to the Privacy Officer at</p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:Trevor.Carritt@zuptu.com">Trevor.Carritt@zuptu.com</a></p>
                            <p>(iii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; By telephone to the Zuptu Ethics Point Compliance Hotline</p>
                            <p>North American: &nbsp;402-689-9105</p>
                            <p>International: +1-402-689-9105</p>
                            <p>The Privacy Officer will then investigate the matter, which may require the involvement of Zuptu&rsquo;s Management. The Privacy Officer will report back to the individual and advise him/her of any steps taken to correct the problem. All investigations will be conducted in accordance with the Whistleblower Investigation Framework.</p>
                            <p>If the individual is still unsatisfied with the response, he/she may choose to make a written complaint to the Information and Privacy Commissioner of Alberta.</p>
                            <p>If an individual feels reporting to the Privacy Officer is either inappropriate or insufficient to address their concerns, Zuptu&rsquo;s Whistleblower Policy outlines procedures to file a complaint against the actions of another individual or group of individuals within Zuptu in respect to breaches of any policy or procedure of Zuptu or applicable law.</p>

                        </div>
                        <div class="col-lg-2 col-md-2"></div>

                    </div>
                    @*<div>
        <center>
            <a id="joinbtn" href="@Url.Action("SignUp","Utilities")" class="smoothScroll btn btn-sm btn-default wow fadeInDown" data-wow-delay="2000">Join Now</a>
        </center>
            </div>*@
                    <!-- /simple login form -->
                    <!-- Footer -->
                    <div class="footer text-muted">
                        <center>
                            <b>
                                Powered By
                                <a href="https://nodlays.com/" target="_blank">Nodlays</a>
                            </b>
                        </center>
                    </div>
                    <!-- /footer -->
                </div>
                <!-- /content area -->
            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->
    
</body>

</html>


