
@{
    ViewBag.Title = "Assignments";
    Layout = "~/Views/Shared/datatables.cshtml";
}

<style>
    .dataTables_filter {
        display: none;
    }
</style>

<div class="content">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <center><h3 class="panel-title"><b>Create Manager</b></h3></center>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li>
                        <a data-action="collapse"></a>
                    </li>
                    <li>
                        <a data-action="reload"></a>
                    </li>
                    <li>
                        <a data-action="close"></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <form class="form-horizontal form-validate-jquery" action="#">
                <fieldset class="content-group">
                    <legend class="text-bold">
                        <span class="text-danger">*</span> Fields are Mandatory to Fill
                    </legend>


                    <div class="form-group">
                        <label class="control-label col-lg-2 text-bold">
                            Division
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-10">
                            <select class="form-control">
                                <option selected disabled value="">Select division</option>
                                <option value="">abc</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-lg-2 text-bold">
                            Trainee Name
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-4"> 
                            <input type="text" name="basic" class="form-control" required="required" maxlength="150"  placeholder="Please enter First Name">
                        </div>
                        <label class="control-label col-lg-2 text-bold">
                            Department
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-4">
                            <input type="text" name="basic" class="form-control" required="required" maxlength="150" placeholder="Please enter First Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-2 text-bold">
                            Job Title
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-4">
                            <input type="text" name="basic" class="form-control" required="required" maxlength="150" placeholder="Please enter First Name">
                        </div>
                        <label class="control-label col-lg-2 text-bold">
                            Task Name
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-4">
                            <input type="text" name="basic" class="form-control" required="required" maxlength="150" placeholder="Please enter First Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2 text-bold">
                            Task Type
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-10">
                            <select class="form-control">
                                <option selected disabled value="">Select type</option>
                                <option value="">abc</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2 text-bold">
                            Date
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-10">
                            <input type="radio" name="date" class=""> All dates
                            <input type="radio" name="date" class=""> Due dates
                            <input type="radio" name="date" class=""> Completed dates
                            <input type="radio" name="date" class=""> Expires dates
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-2 text-bold">
                            Date From
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-4">
                            <input type="date" name="basic" class="form-control" required="required" placeholder="Please enter First Name">
                        </div>
                        <label class="control-label col-lg-2 text-bold">
                            Date To
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-4">
                            <input type="date" name="basic" class="form-control" required="required" placeholder="Please enter First Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2 text-bold">
                            Assignments
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-10">
                            <input type="radio" name="date" class=""> All Assignments
                            <input type="radio" name="date" class=""> Completed Assignments
                        </div>
                    </div>

                </fieldset>

                <div class="text-right">

                    <button type="submit" class="btn btn-sm  bg-primary">
                        Submit
                        <i class="icon-arrow-right14 position-right"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- Basic initialization -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Task Assignment</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li>
                        <a data-action="collapse"></a>
                    </li>
                    <li>
                        <a data-action="reload"></a>
                    </li>
                    <li>
                        <a data-action="close"></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel-body pull-right">
            <a class="btn btn-sm btn-success" data-target="#AssignTask" data-toggle="modal">Assign Task</a>
            <a class="btn btn-sm btn-success">Assign Group of Tasks</a>
            <a class="btn btn-sm btn-danger">Delete Seleted Task</a>
            <a class="btn btn-sm btn-success">Print Barcode</a>

        </div>

        <table class="table datatable-button-html5-basic">
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Badge Id</th>
                    <th>Employee #</th>
                    <th>Department</th>
                    <th>Category</th>
                    <th>Job title</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="checkbox" name="" />
                    </td>
                    <td>Marth</td>
                    <td>
                        <a href="#">Enright</a>
                    </td>
                    <td>Traffic Court Referee</td>
                    <td>22 Jun 1972</td>
                    <td>
                        <span class="label label-success">Active</span>
                    </td>
                    <td>$85,600</td>
                    <td>$85,600</td>
                    <td>
                        <a class="btn btn-sm  btn-success">
                            <i class="icon-pencil"></i>
                        </a>
                        <a class="btn btn-sm  btn-danger">
                            <i class="icon-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /basic initialization -->
    <!-- Footer -->
    <div class="footer text-muted">
        &nbsp; <b>
            Powered By
            <a href="https://nodlays.com/" target="_blank">Nodlays</a>
        </b>
    </div>
    <!-- /footer -->
</div>
<div id="AssignTask" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Assign tasks to multiple trainees</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Task</label>
                        <div class="col-lg-9">
                            <select class="form-control">
                                <option disabled selected value="">Select task</option>
                                <option value="">abc</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom:20px;">
                        <label class="col-lg-3 control-label">Due Date</label>
                        <div class="col-lg-9">
                            <input type="date" class="form-control" name="" id="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Completed Date</label>
                        <div class="col-lg-9">
                            <input type="date" class="form-control" name="" id="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Cost</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" maxlength="150" name="" id="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">CEU's</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" maxlength="150" name="" id="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label"> Hours</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" maxlength="150" name="" id="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Grade</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" maxlength="150" name="" id="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Notes</label>
                        <div class="col-lg-9">
                            <textarea class="form-control" maxlength="500"></textarea>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm  btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-sm  btn-primary">Assign</button>
                </div>
            </form>
        </div>
    </div>
</div>

