
@{
    ViewBag.Title = "TaskCalendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/Content/assets/js/core/libraries/jquery.min.js"></script>*@
<script type="text/javascript" src="~/Content/assets/js/plugins/ui/moment/moment.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/ui/fullcalendar/fullcalendar.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/pages/extra_fullcalendar.js"></script>
<div class="content">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <center><h3 class="panel-title">Task Calendar</h3></center>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <div class='fullcalendar-basic'>

            </div>
        </div>
    </div>
    <!-- /dashboard content -->
    <!-- /basic initialization -->
</div>

