
@{
    ViewBag.Title = "Divisions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .dataTables_filter {
        display: none;
    }
</style>


<div class="content">
    <!-- Basic initialization -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <center><h3 class="panel-title"><b>Divisions</b></h3></center>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li>
                        <a data-action="collapse"></a>
                    </li>
                    <li>
                        <a data-action="reload"></a>
                    </li>
                    <li>
                        <a data-action="close"></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <form class="form-inline" method="post" action="@Url.Action("","")>
                <div class="form-group col-lg-4">
                <label class="control-label">Add Division</label>
                <input type="text" class="form-control" />
        </div>

        <div class="form-group col-lg-3">
            <label class="control-label"></label>
            <input type="submit" value="Add" class="btn btn-sm  btn-success form-control" />
        </div>
        </form>
    </div>

    <table class="table datatable-button-html5-basic">
        <thead>
            <tr>
                <th>Sr#</th>
                <th>Departments</th>
                <th>Division Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Marth</td>
                <td>
                    <a href="#">Enright</a>
                </td>
                <td>Traffic Court Referee</td>

                <td>
                    <a class="btn  btn-sm btn-success" data-target="#EditDepartment" data-toggle="modal">
                        <i class="icon-pencil"></i>
                    </a>
                    <a class="btn  btn-sm btn-danger">
                        <i class="icon-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>





<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Task Assignment</h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li>
                    <a data-action="collapse"></a>
                </li>
                <li>
                    <a data-action="reload"></a>
                </li>
                <li>
                    <a data-action="close"></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group col-lg-4">
                <label class="control-label">Add tags</label>
                <input type="text" class="form-control" />
            </div>
            <div class="form-group col-lg-4">
                <label class="control-label">Division</label>
                <select class="form-control">
                    <option disabled value="">Select division</option>
                    <option value="">abc</option>
                </select>
            </div>
            <div class="form-group col-lg-3">
                <label class="control-label"></label>
                <input type="submit" value="Add" class="btn btn-sm  btn-success form-control" />
            </div>
        </form>
    </div>

    <table class="table datatable-button-html5-basic">
        <thead>
            <tr>
                <th>Sr#</th>
                <th>Tags</th>
                <th>Division Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Marth</td>
                <td>
                    <a href="#">Enright</a>
                </td>
                <td>Traffic Court Referee</td>

                <td>
                    <a class="btn btn-sm  btn-success" data-target="#EditTag" data-toggle="modal">
                        <i class="icon-pencil"></i>
                    </a>
                    <a class="btn  btn-sm btn-danger">
                        <i class="icon-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- /basic initialization -->
<!-- Footer -->
<div class="footer text-muted">
    <a href="#">Powered By </a>
    <a href="http://nodlays.com" target="_blank">Nodlays</a>
</div>
<!-- /footer -->
</div>

<div id="EditDepartment" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Assign tasks to multiple trainees</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Department</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" name="" id="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Division</label>
                        <div class="col-lg-9">
                            <select class="form-control">
                                <option disabled selected value="">Select task</option>
                                <option value="">abc</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm  btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-sm  btn-primary">Assign</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="EditTag" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Assign tasks to multiple trainees</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Tag</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" name="" id="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Division</label>
                        <div class="col-lg-9">
                            <select class="form-control">
                                <option disabled selected value="">Select task</option>
                                <option value="">abc</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn  btn-sm btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn  btn-sm btn-primary">Assign</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function deleteArea(title,id,names,ids) {
        swal({
            title: "Edit",
            text: '<form role="form" id="DeleteMeModal" action="/Area/Delete/' + areaId + '" id="contact-form" method="get"><div class="control-group"><label for="categoryName">You Are Going To Delete Area Permanently!</label></div></div></form>',
            type: "warning",
            html: true,
            showCancelButton: true,
            confirmButtonColor: "#FF7043",
            confirmButtonText: "Yes, delete it!"
        }, function () {
            $("#DeleteMeModal").submit();
        });
    }
</script>